/* Add a black background color to the top navigation */
.topnav {
    display: flex;
    justify-content: right;
    padding-left: 40%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    display: block;
    color: #4CAF50;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: darkgreen;
    border-bottom: solid 3px darkgreen;
  }
  
  /* Add an active class to highlight the current page */
  /*.active {
    background-color: #ddd;
    
  } */
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }