.container-services h1{
  padding: 20px ;
  color: darkgrey;
  
}

.row {
    background: white;
    display: flex;
    flex-direction: row;
}


.paralax-services{
  background-image: url(../../assets//images/servicos.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  color: white;
  padding-top: 160px;
  padding-bottom: 140px;
}
