.container-social {
    text-align: center;
    padding: 20px 30px;
    background-color: white;
    margin-left: 40px;
    border: solid 5px #f1f1f1;
    border-radius: 5px;
  }

.icon {
    padding: 50px 40px;
    background-color: #f1f1f1;
    border-radius: 5px;
}