.container-inst p{
    color: darkgreen;
    text-decoration: none;
  }



.container-inst p {
  text-align: center;
}

.container-inst a {
    text-decoration: none;
    color: darkgreen;
    font-weight: bold;
}

.container-inst a:hover {
    text-decoration: none;
    color: darkseagreen;
    font-weight: bold;
}