.container-associados {
    background: white;
    margin: 20px 30px;
    display:flex;
  
}

.paralax-associados{
    background-image: url(../../assets//images/socios.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    padding-top: 160px;
    padding-bottom: 280px;
  }