.container-fluid {
    background: white;
    width: 100%;
    margin-bottom: 20px;
    margin-top: 20px;  
}
.paralax-associados{
    background-image: url(../../assets//images/socios.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    color: white;
    padding-top: 160px;
    padding-bottom: 280px;
  }
