.container-fluid {
    background: white;
    margin: 3% 0;
    display:flex;
    width: 100%;  
}

.paralax-associados{
    background-image: url(../../assets//images/socios.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-attachment: fixed;
    color: white;
    padding-top: 160px;
    padding-bottom: 280px;
  }
