.container-values {
    background: white;
    margin: 20px 30px;
    padding: 40px;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
  
}
.container-values h1{
  padding: 20px ;
  color: darkgrey;
  
}

.paralax-values{
  background-image: url(../../assets//images/values.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  color: white;
  padding-top: 90px;
  padding-bottom: 180px;
}