

  .paralax-contact{
    background-image: url(../../assets//images/contactlocate.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    color: white;
    padding-top: 380px;
    padding-bottom: 10px;
  }
