.container-whoweare {
    background: white;
    margin: 20px 0;
    padding: 40px;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
  
}
.container-whoweare h1{
  padding-bottom: 20px;
  color: darkgrey;
}

.paralax-whoweare{
  background-image: url(../../assets//images/quemsomos.jpg);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
  padding-top: 160px;
  padding-bottom: 120px;
}