
  .container {
    background: white;
    margin: 20px 30px;
    display:flex; 
  }

  .container-partnes h1{
    padding: 20px ;
    color: darkgrey;    
  }

  .partnes {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }

 .partnes a{
    text-decoration: none;
    color: #555;  
  }

  .partnes a:hover{
    text-decoration: none;
    color: darkgray;  
  }

.paralax-partnes{
  background-image: url(../../assets//images/partners.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  color: white;
  margin-top: 78px;
  padding-top: 70px;
  padding-bottom: 90px;
}
