
  .container {
    background: white;
    margin: 20px 30px;
    display:flex; 
  }

  .partnes {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
  }

  .partnes img {
    width: 300px;
    height: 100px;
  }

.paralax-partnes{
  background-image: url(../../assets//images/partners.png);
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto;
  background-attachment: fixed;
  color: white;
  padding-top: 170px;
  padding-bottom: 120px;
}
